html, body {
	background-color: white;
	margin: 0;
	padding: 0;
	
	height: 100%;
}

#clearFloat {
	clear: both;
}

#topMenuBar ul{
	list-style: none;
	
	margin: 0;
	padding: 0;
}

#topMenuBar li{
	float: left;
	
	color: rgb(200, 200, 200);
}

li a:link, li a:visited {
	display: block;
		padding: 0px 6px 0px 6px;
		height: 34px;
		line-height: 34px;

	background-color: rgb(25, 25, 25);
	
	color: rgb(200, 200, 200);
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

li a:hover, li a:active {
    background-color: rgb(75, 75, 75);
	color: rgb(200, 200, 200);
}

#topLeftBox {
	float: left;
	width: 100px;
	height: 34px;
}

#topLeftBox a:link, #topLeftBox a:visited {
	display: block;
		padding: 0px 6px 0px 6px;
		height: 34px;
		line-height: 34px;

	background-color: rgb(25, 25, 25);
	
	color: rgb(200, 200, 200);
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

#topLeftBox  a:hover, #topLeftBox  a:active {
	
    background-color: rgb(75, 75, 75);
	color: rgb(200, 200, 200);
}


#topRightBox {
	margin-left: 110px;
	height: 34px;
	
	background-color: rgb(25, 25, 25);
}

#color1 {
	background-color: #ffe1ca;
	height: 15px;
	width: 25%;
	float: left;
	display: block;
}

#color2 {
	background-color: #ffc79c;
	height: 15px;
	width: 25%;
	float: left;
	display: block;
}

#color3 {
	background-color: #ff9f54;
	height: 15px;
	width: 25%;
	float: left;
	display: block;
}

#color4 {
	background-color: #f88832;
	height: 15px;
	width: 25%;
	float: left;
	display: block;
}

#break1 {
	background-color: white;
	display: block;
	height: 18px;
	float: none;
}

#break2 {
	background-color: white;
	display: block;
	height: 3px;
	float: none;
}
