#contentContainer{	
	margin-left: 0px;
	margin-top: 0px;
	
	height: 100%;
	
	border-style: none;
	
	background-color: white;
	
	text-align: center;
}

#contentContainer h1{
	margin: 10px;
}


#content{
	height: 100%;
}

#content h1{
	margin: 10px;
}

.line {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
  	stroke: black;
 	shape-rendering: crispEdges;
}

.tick text {
	font-size: 11px;
	stroke: black;
}

.utility circle {
	fill: black;
}

.tooltip {
  background: #333;
  box-shadow: 0 0 5px #999999;
  color: whitesmoke;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  min-width: 50px;
  z-index: 10;
}

.voronoi {
	fill: white;
	stroke: dimgray;
	stroke-width: 1px;
	opacity: 0;
}